<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
  <property>
    <name>fs.defaultFS</name>
    <value>{{getv "/hive/fs"}}</value>
  </property>

   <property>
      <name>javax.jdo.option.ConnectionDriverName</name>
      <value>com.mysql.jdbc.Driver</value>
      <description>MySQL JDBC driver class</description>
   </property>

  <property>
    <name>javax.jdo.option.ConnectionURL</name>
    <value>jdbc:mysql://{{getv "/mysql/host"}}/{{getv "/mysql/database"}}</value>
    <description>JDBC connect string for a JDBC metastore</description>
  </property>

  <property>
    <name>javax.jdo.option.ConnectionUserName</name>
    <value>{{getv "/mysql/user"}}</value>
  </property>

  <property>
    <name>javax.jdo.option.ConnectionPassword</name>
    <value>{{getv "/mysql/password" }}</value>
  </property>

  <property>
    <name>datanucleus.autoCreateSchema</name>
    <value>{{getv "/hive/autocreate/schema" }}</value>
  </property>

  <property>
    <name>datanucleus.autoCreateTables</name>
    <value>{{getv "/hive/autocreate/tables" }}</value>
  </property>
</configuration>
